/*---------------------------Font-------------*/

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*--------------------------------------Nav---*/

.navbar {
    padding-top: 30px;
    padding-bottom: 30px;
}

/*--------------------------------------/Nav--*/

/*--------------------------------footer---------*/
.list-inline social-links {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #b8c0ca;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #fad4d8;
}

#footer-details {
    padding: 20px;
}

/*----------------------------general-----------*/

/*-----------------------------Work--------------*/
.project{
    overflow: hidden;
    position: relative;
}

.project .content {
    position: absolute;
    top: 100;
    left: 0;
    background-color: #b8c0ca;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project img,
.project .content{
    transition: var(-o-transition);
}